
/*
*
* Colors
* 
* White - #F2F1F1
* Teal - #73BEC0
* Red - #DB4B64
* Tan - #D5D8CA
* Brown - #675B57
* 
*/

body {
	background-color: #dddddd;
	color: #675B57;
	
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}


.container {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 40em;
	
	position: relative;
}

.container:first-of-type {
	margin-top: 10em;
}



.new-item-container {
	margin-bottom: 3em;
}

.new-item-input {
	background-color: rgba(255, 255, 255, 0.3);
	border: .125em solid rgba(255, 255, 255, 0.3);
	outline: none;
	
	font-size: 1.4em;
	line-height: 3;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0 1em;
	padding-right: 3em;
	height: 3em;
	width: 100%;
}

.new-item-button {
	background-color: #73BEC0;
	border: none;
	outline: none;
	
	font-size: 1.4em;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 3em;
	
	position: absolute;
	top: 0;
	right: 0;
}

.new-item-button:before,
.new-item-button:after
{
	background-color: #F2F1F1;
	border-radius: 1.5%;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 6%;
	width: 60%;
	
	position: absolute;
	top: 47%;
	left: 20%;
}

.new-item-button:after {
	transform: rotateZ(90deg);
}


.item-list {
	background-color: #F2F1F1;
	
	font-size: 1em;
	
	display: block;
	list-style-type: none;
	margin: 10em auto;
	padding: 0;
	width: 100%;
	max-width: 60em;
}

.item {
	background-color: #F2F1F1;
	
	font-size: 1.4em;
	line-height: 3;
	
	box-sizing: border-box;
	display: block;
	margin: 1em 0;
	padding: 0 3.5em;
	height: 3em;
	width: 100%;
	
	position: relative;
}

.item:first-of-type {
	margin-top: 0;
}

.item:last-of-type {
	margin-bottom: 0;
}

.item + .item:before {
	border-top: 1px dotted rgba(0, 0, 0, 0.1);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 50%;
	
	position: absolute;
	top: 0;
	left: 25%;
}

.item:before {
	background-color: #73BEC0;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 3em;
	
	position: absolute;
	top: 0;
	left: 0;
}

.item:after {
	background-color: transparent;
	border: .15em solid #ffffff;
	border-radius: .75em;
	
	content: "";
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 1.5em;
	width: 1.5em;
	
	position: absolute;
	top: .75em;
	left: .75em;
}

.remove-item-button {
	background-color: #DB4B64;
	border: none;
	outline: none;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 3em;
	
	position: absolute;
	top: 0;
	right: 0;
}

.remove-item-button:before,
.remove-item-button:after
{
	background-color: #F2F1F1;
	border-radius: 1.5%;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 6%;
	width: 60%;
	
	position: absolute;
	top: 47%;
	left: 20%;
	
	transform: rotateZ(45deg);
}

.remove-item-button:after {
	transform: rotateZ(135deg);
}