
/*
*
* Colors
* 
* White - #ffffff
* Teal - #2BB29D
* Red - #FF3F40
* Grey - #33363C
* Dark Grey - #22262B
* 
*/

body {
	background-color: #eeeeee;
	color: #33363c;
	
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 400;
}


.container {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	max-width: 40em;
	
	position: relative;
}

.container:first-of-type {
	margin-top: 10em;
}

.new-item-input {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	font-size: 1em;
	line-height: 3;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0 1em;
	padding-right: 3em;
	height: 3em;
	width: 100%;
}

.new-item-button {
	background-color: #2BB29D;
	border: none;
	border-radius: 1.5%;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 3em;
	
	position: absolute;
	top: 0;
	right: 0;
}

.new-item-button:before,
.new-item-button:after
{
	background-color: #ffffff;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 6%;
	width: 60%;
	
	position: absolute;
	top: 47%;
	left: 20%;
}

.new-item-button:after {
	transform: rotateZ(90deg);
}


.item-list {
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.4);
	
	font-size: 1em;
	
	display: block;
	list-style-type: none;
	margin: 10em auto;
	padding: 0;
	width: 100%;
	max-width: 60em;
}

.item {
	background-color: #ffffff;
	
	font-size: 1em;
	line-height: 3;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 1em 3em;
	height: 3em;
	width: 100%;
	
	position: relative;
}

.item + .item:before {
	border-top: 1px dotted rgba(0, 0, 0, 0.1);
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 50%;
	
	position: absolute;
	top: 0;
	left: 25%;
}

.remove-item-button {
	background-color: #2BB29D;
	border: none;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	height: 3em;
	width: 3em;
	
	position: absolute;
	top: 0;
	right: 0;
}

.remove-item-button:before,
.remove-item-button:after
{
	background-color: #ffffff;
	border-radius: 1.5%;
	
	content: "";
	
	display: block;
	margin: 0;
	padding: 0;
	height: 6%;
	width: 60%;
	
	position: absolute;
	top: 47%;
	left: 20%;
	
	transform: rotateZ(45deg);
}

.remove-item-button:after {
	transform: rotateZ(135deg);
}